<section class="row" data-ng-controller="AuthCtrl">
  <h3 class="col-md-12 text-center">Login</h3>
  <div class="container">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form data-ng-submit="login()" class="signin form-horizontal" autocomplete="off">
        <fieldset>
          <div class="form-group">
            <label for="identifier">Username</label>
            <input type="text" id="identifier" name="identifier" class="form-control" data-ng-model="credentials.identifier" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
          </div>
          <div class="text-center form-group">
            <button type="submit" id="submit" class="btn btn-primary">Sign in</button>
          </div>
          <div data-ng-show="error" class="text-center text-danger">
            <strong>{{error}}</strong>
          </div>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </fieldset>
      </form>
    </div>
  </div>
</section>