<section class="row">
  <h3 class="col-md-12 text-center">User Registration</h3>
  <div class="modal-body col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form name="signupForm" class="signin form-horizontal" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" required id="first_name" name="first_name" class="form-control" data-ng-model="$parent.credentials.first_name" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" required id="last_name" name="last_name" class="form-control" data-ng-model="$parent.credentials.last_name" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" required id="email" name="email" class="form-control" data-ng-model="$parent.credentials.email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" required id="username" name="username" class="form-control" data-ng-model="$parent.credentials.username" ng-minlength="5" placeholder="Username">
          <p ng-show="signupForm.username.$error.minlength" class="help-block">Username must be at least 5 characters</p>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" required id="password" name="password" class="form-control" data-ng-model="$parent.credentials.password" ng-minlength="8" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" placeholder="Password">
          <p ng-show="signupForm.password.$error.pattern" class="help-block">Password must be at least 8 characters, contain 1 at least lower case letter, 1 uppercase letter, and 1 non-alphanumeric character</p>
        </div>
        <div class="form-group">
          <label for="role">Role</label>
          <select class="form-control" data-ng-init="$parent.credentials.role = 'subject'" data-ng-model="$parent.credentials.role" data-ng-options="r.name for r in roles track by r.value" name="role">
            <option value="" disabled>Select a Role</option>
            <option data-ng-repeat"r in roles" value="r.value" selected>{{r.name}}</option>
          </select>
        </div>
        <div data-ng-show="error" class="text-center text-danger">
          <strong>{{error}}</strong>
        </div>        
        <div class="modal-footer">
          <button type="submit" class="btn btn-large btn-primary" ng-disabled="signupForm.$invalid" data-ng-click="submit(signupForm.$valid)">Create User</button>
          <button class="btn btn-large btn-warning" data-ng-click="close()">Close</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>