<!DOCTYPE html>
<html id="dados" ng-app="dados" ng-controller="AppCtrl">
  <head>
    <title>DADOS</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <div class="loader" ng-cloak=""></div>

  <body ng-cloak>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-ui-sortable/sortable.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-ui-utils/ui-utils.min.js"></script>
    <script src="/bower_components/socket.io-client/dist/socket.io.min.js"></script>
    <script src="/bower_components/sails.io.js/dist/sails.io.js"></script>
    <script src="/bower_components/angular-sails/dist/angular-sails.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="/bower_components/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
    <script src="/bower_components/ng-table/ng-table.js"></script>
    <script src="/bower_components/ngform-builder/dist/ngform-builder.min.js"></script>
    <script src="/bower_components/nglist-editor/dist/nglist-editor.min.js"></script>
    <script src="/dependencies/html2canvas.js"></script>
    <script src="/src/app/about/AboutCtrl.js"></script>
    <script src="/src/app/app.js"></script>
    <script src="/src/app/auth/AuthCtrl.js"></script>
    <script src="/src/app/formbuilder/FormbuilderCtrl.js"></script>
    <script src="/src/app/forms/FormCtrl.js"></script>
    <script src="/src/app/header/HeaderCtrl.js"></script>
    <script src="/src/app/home/HomeCtrl.js"></script>
    <script src="/src/app/users/UserCtrl.js"></script>
    <script src="/src/common/controllers/ModalInstanceCtrl.js"></script>
    <script src="/src/common/controllers/ModelCtrl.js"></script>
    <script src="/src/common/controllers/index.js"></script>
    <script src="/src/common/services/Authentication.js"></script>
    <script src="/src/common/services/Config.js"></script>
    <script src="/src/common/services/ErrorService.js"></script>
    <script src="/src/common/services/MenuService.js"></script>
    <script src="/src/common/services/RestService.js"></script>
    <script src="/src/common/services/TitleService.js"></script>
    <script src="/src/common/services/index.js"></script>
    <script src="/src/common/services/lodash.js"></script>
    <!--SCRIPTS END-->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/templates.js"></script>
    <!--TEMPLATES END-->
  </body>
</html>