<div data-ng-controller="HeaderCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-ng-click="toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">DADOS</a>
        </div>
        <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
          <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(currentUser);">
            <li data-ng-repeat="item in menu.items" data-ng-if="item.shouldRender(currentUser);">
              <a ui-sref="{{item.link}}">{{ item.title | translate }}</a>
            </li>
          </ul>

          <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {{currentUser.email}} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">{{ 'Header.MENU_EDIT_PROFILE' | translate }}</a></li>
                <li><a href="#">{{ 'Header.MENU_CHANGE_PASSWORD' | translate }}</a></li>
                <li><a ng-click="sendError(currentUser)" href="#">Send Error Report</a></li>
                <li class="divider"></li>
                <li><a href="/logout">{{ 'Header.MENU_SIGNOUT' | translate }}</a></li>
              </ul>
            </li>          
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {{ 'Header.MENU_LANG' | translate }}<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="changeLanguage('en')" translate>Header.BUTTON_LANG_EN</a></li>
                <li><a href="#" ng-click="changeLanguage('fr')" translate>Header.BUTTON_LANG_FR</a></li>
                <li><a href="#" ng-click="changeLanguage('es')" translate>Header.BUTTON_LANG_ES</a></li>
                <li><a href="#" ng-click="changeLanguage('de')" translate>Header.BUTTON_LANG_DE</a></li>
                <li><a href="#" ng-click="changeLanguage('ch')" translate>Header.BUTTON_LANG_CH</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</div>
