<h2>Users</h2>
<div class="row">
    <div class="col-md-12" ng-controller="ModelCtrl">
        <div class="btn-group pull-right">           
            <button type="button" data-ng-click="createMenu()" class="btn btn-default btn-sm">New User</button>
            <button type="button" data-ng-disabled="!selectedItem.$selected" data-ng-click="editMenu()" class="btn btn-default btn-sm">Edit User</button>
            <button type="button" data-ng-disabled="!selectedItem.$selected" data-ng-click="deleteMenu()" class="btn btn-default btn-sm">Delete User</button>
        </div>
        <div>
            <strong>Sorting:</strong> {{tableParams.sorting()|json}}
        </div>        
        <table data-ng-table="tableParams" class="table ng-table-rowselected">
            <tr ng-repeat="user in $data"
                ng-click="user.$selected = !user.$selected; changeSelection(user)"
                ng-class="{'active': user.$selected}">
                <td data-title="'first_name'" sortable="'first_name'">
                    {{ user.first_name }}
                </td>
                <td data-title="'last_name'" sortable="'last_name'">
                    {{ user.last_name }}
                </td>
                <td data-title="'username'" sortable="'username'">
                   {{ user.username }}
                </td>
                <td data-title="'email'" sortable="'email'">
                    {{ user.email }}
                </td> 
                <td data-title="'role'" sortable="'role'">
                    {{ user.role }}
                </td>
            </tr>
        </table>
    </div>
</div>