<div>
  <h2>About DADOS</h2>
   
  <div class="entry">
    <h4>What is DADOS?</h4>
    <p>DADOS is a single software platform for electronically collecting and managing data related to treatment outcomes. The application has been implemented within various clinics and departments at UHN to handle prospective clinical trials and subspecialty registries. Initially created by integrating and enhancing two open-source Web-based applications developed by Duke University, DADOS-Prospective and DADOS-Survey, the DADOS platform is currently developed, maintained, and supported by the Techna Institute for use within UHN and other research institutions across the world. New features to improve usability and expand its applicability in the field of translational and clinical research are continually developed and enhanced.</p>

    <h4>How does DADOS help?</h4>
    <p>DADOS provides a single web-based interface for collecting data from a variety of study types, with the flexibility in data capture methods to meet the requirements of each study, its research workflow, and clinical environment. The easy-to-use customizable methods to enter patient outcome data can be designed around a specific subspecialty, patient population, research study or government program. The interface for creating clinical research forms is intuitive and integrated, eliminating the need for expensive, customized software development efforts. Plug-and-play type functionality helps improve the standardization of datasets across studies, and DADOS has the ability to handle and support disparate data from a wide variety of sources.</p>
    <p>Designed to be fully compliant with privacy regulations (HIPAA/PIPEDA), with enhanced privacy-related features including audit logging capabilities, role-based user access permissions, and a repository for study-related source documentation, DADOS’ secure web-based interface is compatible with computers, tablets, and touchscreens for data entry. Reports can be generated in real-time regardless of geographic location, allowing researchers in a central location to manage the entire process for multi-centre studies.</p>

    <h4>How is DADOS different?</h4>
    <p>Commercial tools are expensive, difficult to use, and require considerable customization in order to implement. Other efforts to track the quality of care or compare the effectiveness of treatments are plagued by a lack of standardization in the collection and reporting tools, and the spread of data across different institutional repositories. DADOS is an open-source platform that not only addresses the limitations of existing commercial products, but also possesses the versatility to create and manage any type of prospective clinical trial or registry.</p>

    <h4>Some unique benefits of the application include:</h4>
    <ul>
            <li>Ability to integrate with a patient-based kiosk environment or other electronic forms processing systems (e.g. TeleForm™), allowing for optimized, direct patient data entry</li>
            <li>A means to track survey completion and call-back status for all subjects registered in a study</li>
            <li>A framework for integrating with institutional clinical data repository (CDR), providing the ability to import patient and clinic related information into the system</li>
            <li>A simple means to extract data from the system, available to both physicians and patients</li>
    </ul>

    <h4>Contact Information</h4>
    <p>If you have any enquiries or would like further information about DADOS, please contact Michael Lynch at <a href="mailto:michael.lynch@rmp.uhn.ca">michael.lynch@rmp.uhn.ca</a></p>
  </div>
</div>