<% if (currentUser !== undefined) { %>
<script>
	var currentUser = {
		id: '<%= currentUser.id %>',
		username: '<%= currentUser.username %>',
		email: '<%= currentUser.email %>',
		first_name: '<%= currentUser.first_name %>',
        last_name: '<%= currentUser.last_name %>',
        role: '<%= currentUser.role %>'
	};
</script>
<% } %>

<div ng-include="'header/header.tpl.html'"></div>

<div class="container" ui-view="main">
</div><!-- /.container -->