/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */

/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */

/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../bower_components/bootstrap/less/bootstrap';
@import '../bower_components/ng-table/ng-table.less';
@import '../bower_components/bootstrap/less/glyphicons.less';
@import '../bower_components/ngform-builder/dist/less/ngform-builder.less';

html, body {
  margin: 20px 0px;
}

#current-user-dropdown {
    margin-top: 10px;
}

.form-horizontal .form-group {
    margin-left: 15px;
    margin-right: 15px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.loader {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    cursor: not-allowed;
    filter: alpha(opacity=60);
    opacity: 0.8;
}

body {
    padding-top: 50px;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}