<section data-ng-controller="HomeCtrl">
    <h1 class="text-center">{{ 'Home.Welcome ' | translate }} DADOS v3.0!</h1>
</section>
<div class="jumbotron text-center">
    <div ui-view="info"></div>
</div>
