<section class="row">
	<h3 class="col-md-12 text-center"><%= form.title %></h3>
	<div class="col-sm-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form name="<%= form.name %>" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<% _.each(questions, function (question) { %>
					<% include input.ejs %>
				<% }); %>
				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-large btn-primary" data-ng-disabled="<%= form.name %>.$invalid" data-ng-click="submit(<%= form.name %>.$valid)">
					<%= form.submitCopy %>
					</button>
					<button class="btn btn-large btn-warning" data-ng-click="close()">Cancel</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>