<div class="form-group" data-ng-if="hideOmit(<%= question.omitOnEdit %>)">
    <label for="<%= question.name %>">
        <%= question.label %>
    </label>
    <% if (question.type == 'select') { %>
        <select class="form-control"
            required="<%= question.required %>"
            data-ng-model="params.<%= question.name %>"
            name="<%= question.name %>">
            <option value="" disabled><%= question.placeholder %></option>
            <% _.each(question.options, function (option) { %>
                <option name="<%= option.name %>" value="<%= option.value %>"><%= option.name %></option>
            <% }); %>
        </select>
    <%} else {%>
        <input type="<%= question.type %>" 
            required="<%= question.required %>"
            id="<%= question.name %>"
            name="<%= question.name %>"
            class="form-control"
            data-ng-model="params.<%= question.name %>"
            data-ng-pattern"*"
            data-ng-bind-unsafe="params.<%= question.name %>"
            placeholder="<%= question.placeholder %>"
        >
    <%}%>                 
    <p ng-show="<%= form.name %>.<%= question.name %>.$error.pattern" class="help-block">
        <%= question.helpertext %>
    </p>
</div>