<h2>Forms</h2>
<div class="row">
    <div class="col-md-12" data-ng-controller="ModelCtrl">
        <div class="btn-group pull-right">
            <button type="button" data-ng-disabled="!selectedItem.$selected" data-ng-click="editMenu()" class="btn btn-default btn-sm">Edit Form</button>
            <button type="button" data-ng-disabled="!selectedItem.$selected" data-ng-click="deleteMenu()" class="btn btn-default btn-sm">Delete Form</button>
        </div>
        <div>
            <strong>Sorting:</strong> {{tableParams.sorting()|json}}
        </div> 
        <table data-ng-table="tableParams" class="table ng-table-rowselected">
            <tr ng-repeat="form in $data"
                ng-click="form.$selected = !form.$selected; changeSelection(form)"
                ng-class="{'active': form.$selected}">
                <td data-title="'title'" sortable="'form_title'">
                    {{ form.form_title }}
                </td>
                <td data-title="'name'" sortable="'form_name'">
                    {{ form.form_name }}
                </td>                
                <td data-title="'type'" sortable="'form_type'">
                    {{ form.form_type }}
                </td>       
            </tr>
        </table>
    </div>
</div>